[submodule "s-scripts"]
	path = s-scripts
	url = https://github.com/BrightcoveLearning/s-scripts
  branch = main
[submodule "_includes/s-jekyll-page-includes"]
	path = _includes/s-jekyll-page-includes
	url = https://github.com/BrightcoveLearning/s-jekyll-page-includes
  branch = main
[submodule "_includes/s-feather-img"]
	path = _includes/s-feather-img
	url = https://github.com/BrightcoveLearning/s-feather-img
  branch = main
[submodule "s-support"]
	path = s-support
	url = https://github.com/BrightcoveLearning/s-support
  branch = main
[submodule "_includes/s-support-img"]
	path = _includes/s-support-img
	url = https://github.com/BrightcoveLearning/s-support-img
  branch = main
