[submodule "s-scripts"]
	path = s-scripts
	url = https://github.com/BrightcoveLearning/s-scripts
  branch = main
[submodule "_includes/s-jekyll-page-includes"]
	path = _includes/s-jekyll-page-includes
	url = https://github.com/BrightcoveLearning/s-jekyll-page-includes
  branch = main